@import url("theme.css"); /* make sure to sync this with the base theme's css filename */

img.logo { 
    width: 120px !important; 
    height: auto; 
/*    margin: 10px 20px !important;  */
    text-align: right !important;
}

.wy-side-nav-search { 
    background-color: #F56F23;
}

.wy-nav-top { 
    background-color: #F56F23;
}

.wy-nav-top img {
    border-radius: 0 !important;
    background-color: transparent !important;
} 

.wy-side-nav-search a { 
   text-align: right !important;
   float: right;
}

.legal { 
    padding: 20px; 
    color: #878B9A; 
    font-size: 12px; 
    text-align: center; 
}

.legal a { 
    color: #878B9A; 
}

div.github-tag.docutils.container {
    position: relative;
}

div.github-tag.docutils.container img {
    position: absolute;
    top: -1.618em;
    right: -3.236em;
}

@media screen and (max-width: 768px) {
    div.github-tag.docutils.container img {
        right: -1.618em;
    }
}


div.download-button.docutils.container { 
    float: right; 
    width: 300px; 
    margin: 20px; 
}

div.download-button.docutils.container img { 
    width: 100%; 
    height: auto; 
}

div.content-blocks.docutils.container { 
    margin: 10px; 
    padding: 0px;

    display: inline-block;
    width: 100%; 
}

div.content-blocks.docutils.container li { 
    list-style-type: none; 
}

div.content-blocks.docutils.container li.toctree-l2 {
	float: left; 
    min-width: 15em;
    width: 33.333%; 
    padding: 20px; 
    height: 150px; 
	border: 10px solid #FFF; 
    background-color: #4A90E2; 
    position: relative;
	-webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
    display: inline-block;
}

div.content-blocks.docutils.container .toctree-l1 > a {
    display: none;
}

div.content-blocks.docutils.container .toctree-l2.course { background-color: #4A90E2; }
div.content-blocks.docutils.container .toctree-l2.labs { background-color: #D91E5B; }
div.content-blocks.docutils.container .toctree-l2.books { background-color: #F56F23; }

div.content-blocks.docutils.container .toctree-l2 a { 
    color: #FFF; 
    position: absolute; 
    font-size: 20px; 
    bottom: 20px; 
}