@import url("theme.css"); /* make sure to sync this with the base theme's css filename */

img.logo { 
    width: 120px !important; 
    height: auto; 
    /*    margin: 10px 20px !important;  */
    text-align: right !important;
}

.wy-side-nav-search { 
    background-color: #F56F23;
}

.wy-nav-top { 
    background-color: #F56F23;
}

.wy-nav-top img {
    border-radius: 0 !important;
    background-color: transparent !important;
} 

.wy-side-nav-search a { 
 text-align: right !important;
 float: right;
}

.legal { 
    padding: 20px; 
    color: #878B9A; 
    font-size: 12px; 
    text-align: center; 
}

.legal a { 
    color: #878B9A; 
}

div.github-tag.docutils.container {
    position: relative;
}

div.github-tag.docutils.container img {
    position: absolute;
    top: -1.618em;
    right: -3.236em;
}

@media screen and (max-width: 768px) {
    div.github-tag.docutils.container img {
        right: -1.618em;
    }
}


div.download-button.docutils.container { 
    float: right; 
    width: 300px; 
    margin: 20px; 
}

.slider {
    width: 50%;
    margin: 100px auto;
}
.slick-slide {
  margin: 0px 20px;
}
.slick-slide img {
  width: 100%;
}
.slick-prev:before,
.slick-next:before {
  color: black;
}
.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}
.slick-active {
  opacity: .5;
}
.slick-current {
  opacity: 1;
}

.slider.courses {
    background-color: #4A90E2;
}

.slider.labs {
    background-color: #D91E5B;
}

.slider.books {
    background-color: #F56F23;
}