coverage==7.1.0
docutils==0.17.1
graphviz==0.20.1
ipython==8.10.0
pdf2image==1.16.2
Pillow==9.4.0
pydot-ng==2.0.0
Pygments==2.14.0
pyparsing==3.0.9
Sphinx==5.3.0
sphinx-reredirects==0.1.1
sphinx-rtd-dark-mode==1.2.4
sphinx-rtd-theme==1.1.1
sphinxcontrib-plantuml==0.24.1
websocket-client==1.5.0
