coverage==7.6.0
docutils==0.20.1
graphviz==0.20.3
ipython==8.26.0
pdf2image==1.17.0
pillow==10.4.0
pydot-ng==2.0.0
Pygments==2.18.0
pyparsing==3.1.2
Sphinx==7.4.7
sphinx-reredirects==0.1.5
sphinx-rtd-theme==2.0.0
sphinxcontrib-plantuml==0.30
websocket-client==1.8.0
