coverage==7.13.2
docutils==0.22.4
furo==2025.12.19
graphviz==0.21
ipython==9.9.0
pdf2image==1.17.0
pillow==12.1.1
pydot-ng==2.0.0
Pygments==2.19.2
pyparsing==3.3.2
Sphinx==9.1.0
sphinx-reredirects==1.1.0
sphinxcontrib-bibtex==2.6.5
sphinxcontrib-plantuml==0.31
websocket-client==1.9.0
