// colors
$color-theme-bg-dark:                   #C34C01;    // dark orange

$color-theme-bg-light:                  rgb(252, 252, 252);

$color-theme-alt-bg:                    #222222;

$color-bg-dark:                         #111111;

$color-content-bg:                      black;
$color-content-font:                    #edc;

$color-border:                          #444;

$color-code-font:                       #DE935F;
$color-code-bg:                         $color-bg-dark;
$color-code-border:                     darken($color-border, 50%);

$color-menu-bg-l1:                      #222222;
$color-menu-bg-l2:                      lighten($color-menu-bg-l1, 5%);
$color-menu-bg-l3:                      lighten($color-menu-bg-l1, 10%);
$color-menu-bg-hover:                   darken($color-menu-bg-l1,  20%);

$color-menu-font:                       #f0f0f0;
$color-menu-alt-font:                   #e8e8e8;
$color-menu-alt-font-hover:             lighten($color-menu-alt-font, 20%);

$color-tab-active-font:                 rgb(200, 200, 200);
$color-tab-hover-font:                  lighten($color-tab-active-font, 20%);
$color-tab-font:                        darken($color-tab-active-font, 30%);

$color-widget-border:                   $color-border;

$color-widget-output-area:              rgb(23, 23, 23);

$color-widget-info:                     rgb(234, 234, 234);

$color-settingsbar-bg:                  rgb(50, 50, 50);
