@import 'variables';
@import 'variables-dark';

@media (prefers-color-scheme: dark) {

    html {
        background-color: $color-darktheme-bg-dark !important;
    }
    body {
        background-color: $color-darktheme-bg-dark !important;
    }
    label {
        color: white;
    }
    .rst-content code,
    .rst-content tt,
    code {
        color: $color-darktheme-code-font;
        background-color: $color-darktheme-code-bg !important;
    }
    pre {
        color: $color-darktheme-code-font;
        background-color: $color-darktheme-code-bg !important;
    }
    .wy-nav-content-wrap {
        background: $color-darktheme-bg-dark !important;
    }
    .wy-nav-content {
        background: $color-darktheme-content-bg !important;
        color: $color-darktheme-content-font;
    }
    .admonition-in-other-languages {
        background: $color-darktheme-theme-alt-bg;
    }
    .rst-content {
        .highlight {
            background: $color-darktheme-theme-alt-bg;
        }
    }
    .rst-content .admonition,
    .rst-content .admonition-todo,
    .rst-content .attention,
    .rst-content .caution,
    .rst-content .danger,
    .rst-content .error,
    .rst-content .hint,
    .rst-content .important,
    .rst-content .note,
    .rst-content .seealso,
    .rst-content .tip,
    .rst-content .warning,
    .wy-alert {
        background: $color-darktheme-theme-alt-bg;
    }
    .rst-content .admonition-title, .wy-alert-title {
        // background: #6ab0de;
        background: #1a608e;
    }
}
