{
  "extends": ["eslint:recommended", "google"],
  "rules": {
    "no-invalid-this": "off"
  },

  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },

  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jquery": true
  },

  "globals": {
    "ace": "readonly",
  },
}
