.admonition-in-other-languages {
    background: #dae6ef;
    padding: 12px;
    margin-bottom: 24px;
}

#sidebarfooter {
  position: absolute;
  bottom: 0px;
}

.responsive-carousel { }
.responsive-carousel div { margin-bottom: 10px; }
.responsive-carousel div a {
    display: block; background-color: #4A90E2; color: #FFF; border-radius: 3px; position: relative;
    height: 230px;
}
.responsive-carousel div a:hover { background-color: #2d74c4; }
.responsive-carousel div a .inner {
    position: absolute; top: 50%; padding: 20px;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.responsive-carousel div a .inner strong { font-size: 1.3em; margin-bottom: 5px; display: block; }
.responsive-carousel div a .inner p { color: rgba(255, 255, 255, 0.7); font-size: .8em; line-height: 1.5em; margin-bottom: 0px; }
.responsive-carousel div a .inner em { color: rgba(255, 255, 255, 0.6); font-style: normal; font-size: .8em; font-weight: 600; text-transform: uppercase; }

.responsive-carousel .slick-active { opacity: 1; }
.responsive-carousel .slick-next:before, .slick-prev:before { color: #000; }

.responsive-carousel .slick-prev { left: -10px; margin-top: -15px; } .responsive-carousel .slick-next { right: -10px; margin-top: -15px; }



.responsive-carousel div.labs a { background-color: #D91E5B; }
.responsive-carousel div.labs a:hover { background-color: #bb144c; }

.responsive-carousel div.books a { background-color: #F56F23; }
.responsive-carousel div.books a:hover { background-color: #e06118; }

div.test_name::before {
  content: "Test Name: ";
}

div.test_input::before {
  content: "Test Input: ";
}

div.test_expects::before {
  content: "Test Expects: ";
}

div.test_exercises::before {
  content: "Test Exercies: ";
}

.passed_test {
    color: green;
}

.failed_test {
    color: red;
}
