@import url("theme.css"); /* make sure to sync this with the base theme's css filename */

img.logo {
    width: 150px !important;
    height: auto;
    /*    margin: 10px 20px !important;  */
    text-align: right !important;
}

div#learn-adacore-com > h1 {
    display: none;
}

.widget_editor {
    padding-bottom: 10px;
}

.wy-side-nav-search {
    background-color: #F56F23;
}

.wy-nav-top {
    background-color: #F56F23;
}

.wy-nav-top img {
    border-radius: 0 !important;
    background-color: transparent !important;
}

.wy-side-nav-search a {
 text-align: right !important;
 float: right;
}

.legal {
    padding: 20px;
    color: #878B9A;
    font-size: 12px;
    text-align: center;
}

.beta-ribbon {
    position: absolute;
    width: 80px;
    height: 25px;
    background: black;
    top: 7px;
    left: -20px;
    text-align: center;
    font-size: 13px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    line-height: 27px;
    -ms-transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    transform:rotate(-45deg);
}

.legal a {
    color: #878B9A;
}

#scrollToTopBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #878B9A; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#scrollToTopBtn:hover {
    background-color: #F56F23; /* Add a dark-grey background on hover */
}

div.download-button.docutils.container {
    float: right;
    width: 300px;
    margin: 20px;
}

.slider {
    width: 50%;
    margin: 100px auto;
}
.slick-slide {
  margin: 0px 20px;
}
.slick-slide img {
  width: 100%;
}
.slick-prev:before,
.slick-next:before {
  color: black;
}
.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}
.slick-active {
  opacity: .5;
}
.slick-current {
  opacity: 1;
}

.slider.courses {
    background-color: #4A90E2;
}

.slider.labs {
    background-color: #D91E5B;
}

.slider.books {
    background-color: #F56F23;
}

div.content-description.docutils.container {
  padding: 20px;
}

.responsiveCarousel {
    padding-top: 20px;
}

.img-row {
    display: flex;
}

.img-row img {
    flex: 33.33%;
    padding: 5px;
    vertical-align: top;
}

div.lab_area {
    font: 12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
   background: #f3f3f3;
}

div.lab_test_case {
    padding-left:3px;
    padding-right:3px;
    padding-bottom: 5px;
    margin-top: 0px;
    margin-bottom: 5px;
}

div.lab_test_msg {
    color: #666;
    padding-left:20px;
    padding-right:3px;
}

div.lab_test_msg code {
  white-space: pre-wrap;
}

div.lab_test_success {
    background: #bef5cb;
}

div.lab_test_failed {
    background: #fdaeb7;
}

span.lab_test_msg_title {
    font-weight:bold;
    padding-right: 5px;
}

div.lab_status {
    font-weight:bold;
    padding-left: 15px;
    padding-right: 3px;
}

div.lab_results {

    margin-top: 5px;
    margin-bottom: 5px;
}

/* Style the tab */
.tab {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  outline: none;
  cursor: pointer;
  padding: 6px 16px;
  transition: 0.3s;
  flex: 0 0 auto;
  border: 1px solid transparent;
  color: #808080;
  font-family: monospace
}

/* Change background color of buttons on hover */
.tab button:hover {
  color: #4C4C4C;
  cursor: pointer;
}

/* Create an active/current tablink class */
.tab button.active {
  color: #333;
  border-top: 2px solid #f88745;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

/* Style the tab content */
.tab-content {
  display: none;
  padding: 0px;
}

button.lab_test_success {
  background: #e6ffed;
}

button.accordion span:after {
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
  font-size: 10px;
  font-style: italic;
  font-weight: 600;
  color: #777;
  margin-left: 8px;
}

button.lab_test_success span:after {
  content: "Pass";
}

button.lab_test_failed {
  background: #ffeef0;
}

button.lab_test_failed span:after {
  content: "Fail";
}

button.active.lab_test_success  {
  background: #bef5cb;
}

button.active.lab_test_failed {
  background: #fdaeb7;
}

button.lab_test_success:hover {
  background-color: #bef5cb;
}

button.lab_test_failed:hover {
  background-color: #fdaeb7;
}


/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-weight:bold;
  border-radius: 7px;
}

.accordion.active {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.accordion:after {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: normal;
  content: '\f067'; /* + */
  font-size: 9px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.accordion.active:after {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: normal;
  content: "\f068"; /* - */
  font-size: 9px;
  color: #777;
  float: right;
  margin-left: 5px;
}

/* Style the accordion panel. Note: hidden by default */
.lab_test_case {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}

.custom_check_container {
  display: block;
}

label.custom_check {
  display: inline-block;
}

.console_output {
  display: inline-block;
}

.spinner {
  width: 70px;
  text-align: center;
  display: inline-block;
}

.spinner > div {
  width: 7px;
  height: 7px;
  background-color: #a6a6a6;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  margin-right: 5px;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
