@import url("theme.css"); /* make sure to sync this with the base theme's css filename */

img.logo {
    width: 150px !important;
    height: auto;
    /*    margin: 10px 20px !important;  */
    text-align: right !important;
}

div#learn-adacore-com > h1 {
    display: none;
}

.widget_editor {
    padding-bottom: 10px;
}

.wy-side-nav-search {
    background-color: #F56F23;
}

.wy-nav-top {
    background-color: #F56F23;
}

.wy-nav-top img {
    border-radius: 0 !important;
    background-color: transparent !important;
}

.wy-side-nav-search a {
 text-align: right !important;
 float: right;
}

.legal {
    padding: 20px;
    color: #878B9A;
    font-size: 12px;
    text-align: center;
}

.beta-ribbon {
    position: absolute;
    width: 80px;
    height: 25px;
    background: black;
    top: 7px;
    left: -20px;
    text-align: center;
    font-size: 13px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    line-height: 27px;
    -ms-transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    transform:rotate(-45deg);
}

.legal a {
    color: #878B9A;
}

#scrollToTopBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #878B9A; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#scrollToTopBtn:hover {
    background-color: #F56F23; /* Add a dark-grey background on hover */
}

div.download-button.docutils.container {
    float: right;
    width: 300px;
    margin: 20px;
}

.slider {
    width: 50%;
    margin: 100px auto;
}
.slick-slide {
  margin: 0px 20px;
}
.slick-slide img {
  width: 100%;
}
.slick-prev:before,
.slick-next:before {
  color: black;
}
.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}
.slick-active {
  opacity: .5;
}
.slick-current {
  opacity: 1;
}

.slider.courses {
    background-color: #4A90E2;
}

.slider.labs {
    background-color: #D91E5B;
}

.slider.books {
    background-color: #F56F23;
}

div.content-description.docutils.container {
  padding: 20px;
}

.responsiveCarousel {
    padding-top: 20px;
}

.img-row {
    display: flex;
}

.img-row img {
    flex: 33.33%;
    padding: 5px;
    vertical-align: top;
}

div.lab_area {
    font: 12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
   background: #f3f3f3;
}

div.lab_test_case {
    border-radius: 15px;
    padding-left:3px;
    padding-right:3px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

div.lab_test_msg {
    color: #666;
    padding-left:20px;
    padding-right:3px;
}

div.lab_test_msg.lab_test_title {
    font-weight:bold;
    padding-left: 15px;
}

div.lab_test_success {
    background: #83ef5f;
}

div.lab_test_failed {
    background: #ef6e5f;
}

span.lab_test_msg_title {
    font-weight:bold;
    padding-right: 5px;
}

div.lab_status {
    font-weight:bold;
    padding-left: 15px;
    padding-right: 3px;
}

div.lab_results {

    margin-top: 5px;
    margin-bottom: 5px;
}

/* Style the tab */
.tab {
  overflow: hidden;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: 1px solid #ccc;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tab-content {
  display: none;
  padding: 0px;
}
