name: Sphinx Plugin Tests

on:
  push:
    paths:
      - 'frontend/sphinx/tests/**'
      - 'frontend/sphinx/widget/**'
  pull_request:
    branches:
      - main

defaults:
  run:
    working-directory: frontend

jobs:
  sphinx-plugin:

    runs-on: ubuntu-24.04

    strategy:
      matrix:
        python-version: ['3.12']

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install OS Deps
      run: |
        sudo apt-get update && \
        sudo apt-get install -y \
        crudini
    - name: Install GNAT FSF
      run: |
        ${GITHUB_WORKSPACE}/.github/workflows/install_toolchain.sh --gnat --gnatprove --gprbuild
    - name: Increase max user watches
      run: |
        echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && \
        sudo sysctl -p
    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements_frozen.txt
    - name: Test Sphinx Widget Parser Plugin
      run: make test_parser
